:root {

    --ff-primary: Arial, Helvetica, sans-serif;
    --ff-secondary: Arial, Helvetica, sans-serif;

    --fw-thin: 100;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --clr-light: #ffffff;
    --clr-grey: #eeeeee;
    --clr-dark: #000000;
    --clr-accent: #0071ce;
    --clr-accent-dark: #004b87;
    --clr-accent-light: #b3d7f5;

    --fs-h1: 3.7rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-p: 1rem;

}

p{
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-p);
}

h2{
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
}

h3{
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}

input[type="text"] {
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 25px;
    box-sizing: border-box;
}

body.dark {
    --clr-light: #2e2e2e;
    --clr-dark: #ffffff;
    --clr-accent: #0071ce;
    --clr-grey: #666666;
}

body {
    font-family: var(--ff-primary);
    text-align: center;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    font-family: var(--ff-secondary);
}

.tab {
    width: 75%;
    overflow: hidden;
    display: flex;
    margin: auto;
    justify-content: center;
}

.tabSpacer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tabSpacer.container{
    margin: auto;
    flex-grow: 1;
}

.tabContainer{
    flex-grow: 1;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s ease-in-out;
    background-color: var(--clr-grey);
    font-weight: var(--fw-bold);
    font-size: var(--fs-p);
    color: var(--clr-dark);
    width: 100%;
}

.tab button:hover {
    background-color: var(--clr-accent-light);
    color: white;
}

.tab button.active {
    background-color: var(--clr-accent);
    color: white;
}

.tab button:active{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    transition: 0.1s;
}

.tab button.disabled{
    background-color: var(--clr-grey);
    color: grey;
    cursor: not-allowed;
}

.tabButton {
    background-color: inherit;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s ease-in-out;
    font-weight: var(--fw-bold);
    font-size: var(--fs-p);
    background-color: var(--clr-grey);
    color: var(--clr-dark);
    border-radius: 30px 30px 0px 0px;
}

.tabButton:hover {
    background-color: var(--clr-accent-light);
    color: white;
}

.tabButton.active {
    background-color: var(--clr-accent);
    color: white;
}

.tabButton:active{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    transition: 0.1s;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#quickaction {
    border-radius: 50px;
}

.qactionWrapper{
    position: fixed;
    top: 90%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
}

.helpWindow{
    padding: 10px;
    width: 13%;
    background-color: var(--clr-grey);
    border-radius: 25px 25px 0px 0px;
    position: fixed;
    bottom: 100%;
    right: 70.5%;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.helpWindow.active{
    opacity: 1;
    transition: 0.25s ease-in-out;
}

.helpWindow>p{
    text-align: left;
}

a{
    color: var(--clr-accent);
}

a:visited{
    color: var(--clr-accent-dark);
}

.whitespace {
    height: 80px;
}

.searchButton {
    margin: 4px;
    cursor: pointer;
    border-radius: 50%;
    padding: 9px 10px 8px 10px !important;
}

.featuredContainer {
    display: flex;
    align-items: center;
    justify-content: center
}

img {
    max-width: 100%
}

.featuredImage {
    flex-basis: 30%
}

.featuredDesc {
    font-size: 20px;
    padding-left: 20px;
}

.button2 {
    background-color: var(--clr-accent);
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
}

.button2:hover{
    background-color: var(--clr-accent-light);
    transition: 0.3s ease-in-out;
}

.button2:active{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    transition: 0.1s;
}

.progressBar{
    height: 10px;
    width: 150px;
    background-color: var(--clr-grey);
}

.progressBar.complete{
    height: 10px;
    width: 150px;
    background-color: var(--clr-accent);
}

.progressBar.active{
    height: 10px;
    width: 150px;
    background-color: var(--clr-accent-light);
    animation: activeAnim 2s ease-in-out 0s infinite;
}

@keyframes activeAnim {
    0% {
        background-color: var(--clr-accent-light);
    }
    50% {
        background-color: var(--clr-accent);
    }
    100% {
        background-color: var(--clr-accent-light);
    }
}

.progressContainer{
    display: inline-block;
}